
.card-name {
    position: absolute;
    right: 15px;
    bottom: 90%;
    font-weight: 400;
    font-size: 15px;
    padding: 4px 12px;
    background: rgba(32, 36, 45, .4);
    color: #fff;
    border-radius: 4px;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.HomeCard {
    max-width: 319px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: 405px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
}
.HomeCard-Image {
    overflow: hidden;
    width: 100%;
    height: 174px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}
.HomeCard-Icon {
    background:#fff;
    border-radius:999px;
    width: 80px;
    height: 80px;
    margin: -40px auto 0;
    background-repeat: no-repeat;
}

.HomeCard-Icon, .HomeCard-Image img {
    border-radius:999px;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.HomeCard-Title {
    margin-top: 10px;
    color: #363636;
    font-size: 20px;
    font-weight: 700;
}
.HomeCard-Button {
    width: 166px;
    margin-top: 26px;
    margin-bottom: 26px;
}
.Btn_blue {
    color: #fff;
    background: -webkit-gradient(linear,left top,right top,from(#3030ce),to(#5a30ce));
    background: linear-gradient(90deg,#3030ce 0,#5a30ce);
    box-shadow: 0 11px 18px 0 rgba(70,48,206,.2);
}
.Btn {
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    letter-spacing: .5px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
}
.Btn, .Label {
    display: inline-block;
}
button, input {
    outline: none;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}